<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
  <timestamp key="byDay" datePattern="yyyy-MM-dd"/>

  <property name="log-path" value="logs"/>
  <property name="log-archive" value="logs/archive"/>
  <property name="audit-file" value="vega-audit"/>

  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/vega-${byDay}.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date %-5level %class - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %class - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log-path}/${audit-file}.log</file>

    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level - %msg%n</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>
        ${log-archive}/${audit-file}.%d{yyyy-MM-dd}.%i.log
      </fileNamePattern>

      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>

      <maxHistory>90</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="nl.lincsafe.vega.logging" level="INFO" additivity="false">
    <appender-ref ref="AUDIT"/>
  </logger>

  <root>
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
	<appender-ref ref="AUDIT"/>
  </root>
</configuration>
